<% include layout.ejs %>

<div class="container">
    <form action="/notes">
        <div class="md-form d-flex">
            <input type="text" id="inputMDEx" class="form-control">
            <label for="inputMDEx">Note's title</label>
        </div>
        <div class="md-form">
            <input type="text" id="inputMDEx" class="form-control">
            <label for="inputMDEx">Note's description</label>
        </div>
        <button type="button" class="btn btn-outline-primary waves-effect">Create</button>
    </form>
</div>