<div class="wrapper container-fluid row">
    
	<div id="sidebar" class="p-2 bg-info">
					<div id="dismiss" class="">
							<i class="fas fa-arrow-left"></i>
					</div>
			<div class="list-group ml-2 ml-lg-1 mr-1 mt-5">
					<a href="/api/notes" class="list-group-item list-group-item-action active">Create new note</a>
					<a href="/dashboard/lists" class="list-group-item list-group-item-action">Create new List</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Delete all</a>
			</div>
	</div>
	<div class="mx-auto">
		<h1 class="text-light">Welcome </h1>

	</div>
	<div class="overlay"></div>
</div>
<div class="container row ml-3 d-flex justify-content-center mx-auto">
	<% notesArr.forEach(function(user){ %>
		<%- include('notes', { user }); %>
	<% }); %>
</div>
<div class="container text-center pb-2">
		<h2 class="text-danger">Your Lists </h2>
</div>
<div class="container row d-flex justify-content-center ml-3 mx-auto">
	<% ListArr.forEach(function(user){ %>
		<%- include('lists', { user }); %>
	<% }); %>
</div>


