<div class="container">
    <h1 class="h3"><%= title %></h1>
    <ul class="list-group">
        <% arr.forEach(function(user){ %>
          <li class="list-group-item"><%= user %></li>
        <% }); %>
    </ul>
</div>