<div class="container">
	<form action="/update/update" class="col-md-4 col-xs-4 mx-auto" method="post" >
		<input type="hidden" name="_METHOD" value="PUT"/>
		<input name="ID" type="text" value="<%= ID %>" class="collapse"  >
		<input  name="noteTitle" type="text" value="<%= noteTitle %>">
		<input name="noteDescript" type="text" value="<%= noteDescript %>">
		<button  type="submit"   class="btn btn-outline-light btn-sm ">Create</button>
	</form>

    
</div>