<a href="/list/<%= user._id %> " class="card mb-3 mr-3">
<li>
  <% if (user) { %>
    <div class="card-header">
      <img src="../public/images/doit-quicentro-shopping-logo.png" alt="">
    </div>
    <div class="card-body" style="width: 12rem;">
      <h2 class="card-title text-capitalize"><%= user.title %></h2>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, corporis.</p>
    </div>
  <% } %>
</li>
</a>