<% include layout.ejs %>
<header>
  <nav class="navbar navbar-dark bg-primary">
      <button id="sidebarCollapse" class="navbar-toggler d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <p class="ml-2 custom_style_margin">New Note</p>
      </button>
    <a class="navbar-brand">Navbar</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
</header>

<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" class="d-flex flex-center flex-column p-2">
      <button onclick="window.location.href='/notes'" type="button" class="btn btn-outline-primary rounded">Create Note</button>
      <button onclick="window.location.href='/lists'" type="button" class="btn btn-outline-primary rounded">Create List</button>
  </nav>

    
  

    <ul class="list-unstyled ml-2">
      <li>
          <div class="card card-body ml-1 mt-4 w-50">
            <h4 class="card-title">Panel title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
      </li>
    </ul>
  </div>

</div>

<script>
// SideBar
$(document).ready(function () {

  $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
  });
});
</script>